/*header*/

/* imagen de fondo */
.contenedor_header {
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url(../images/family-6398107_1920.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  padding: 0 2rem;
}

.contenedor_header {
  padding-top: 0.3rem;
}

.navbar {
  height: 60px;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.navbar .logo img {
  width: 140px;
  height: 100%;
}

.navbar a:hover {
  font-size: 1.2rem;
  border-bottom: 2px solid #97a699;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.actionp_btn {
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  background: var(--primary-color);
}

/*Inicia dropdown menu*/

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  /*SOPORTE PARA NAVEGADORES IOS*/
  backdrop-filter: blur(15px);
  /*SOPORTE OTROS NAVEGADORES*/
  border-radius: 10px;
  overflow: hidden;
}

.dropdown_menu.open {
  height: 250px;
}

.dropdown_menu li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .actionp_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Termina dropdown menu */

/*hero*/

#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* ← Alineación a la izquierda */
  color: var(--white);
  gap: 0.5rem;
  /* Espacio controlado entre elementos */
  padding-left: 1rem;
  /* Opcional: un pequeño margen interno */
}

#hero h1 {
  font-family: var(--fuentePrincipal);
  font-size: 2.5rem;
  /* Ajusta según tu diseño */
  font-weight: lighter;
  margin: 0;
  text-align: left;
}

#hero p {
  font-family: var(--fuentePrincipal);
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  text-align: left;
}

/*Animacion Boton*/

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(114, 225, 244, 0.7);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(114, 225, 244, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(114, 225, 244, 0);
  }
}

#hero a {
  background: linear-gradient(to right,
      rgba(114, 225, 244, 0.5),
      rgba(114, 225, 244, 0));
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: rgba(250, 248, 248, 0.5) 2px solid;
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;

  animation: pulse 2s infinite;
  transition: transform 0.3s ease;
}

/* termina hero */